<%= render partial: 'users/breadcrumbs' if current_user %>

<h1>Listing users</h1>

<%= link_to 'New User', new_user_path, class:'button' %>

<table  class="full-width">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Last Login</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.login, user %></td>
    <td><%= mail_to user.email %></td>
    <td><%= user.last_login_at %></td>
    <td><%= link_to 'Show', user, class:'small secondary button' %>
    <%= link_to 'Edit', edit_user_path(user), class:'small secondary button' %>
    <%= link_to 'Destroy', user, class: 'small alert button', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
