<h1><%= @user.login %></h1>

<%= link_to 'Edit User', edit_user_path(@user), class: 'secondary button' %>
<table>
  <%
  user_vars = [:login, :email, :login_count, :failed_login_count, :last_request_at, :current_login_at,  :last_login_at, :current_login_ip, :last_login_ip]
  user_vars.each do |var| %>
  <tr>
    <th><%= var.to_s.gsub('_',' ').titlecase %></th>
    <td><%= @user[var] unless @user[var].is_a? Time %><%= @user[var].long if @user[var].is_a? Time %></td>
  </tr>
  <% end %>
</table>
