<% content_for :title, 'Motor Car Export - Buy Used, Save Huge' %>
<% content_for :featured, @page.featured %>

<div class="row">
  <div class="large-8 small-12 columns"><h1 class="text-right small-left" small-text="Buy Used,<br/> Save Huge">Buy Used, Save Huge</h1></div>
  <div class="large-4 small-12 columns"><a href="<%= inventory_vehicles_path %>" class="large radius success button">Show Me Cars &raquo;</a></div>
</div>

<% if current_user %>
<%= link_to '« All Pages', pages_path, class: 'secondary button' %>
<%= link_to 'Edit This Page', edit_page_path(@page), class: 'secondary button' %>
<% end %>


<% unless @page.body.blank? %>
<% cache ["v1", @page] do %>
	<%= raw RDiscount.new(@page.body).to_html %>
<% end %>
<% end %>

<!--
This form is not yet ready for the world
<div class="panel large-8 columns large-centered">
  <h3>Want More Info?</h3>
  <%= form_for(Request.new, html: {class:'custom'} ) do |r| %>

	  <div class="row">
	    <div class="large-6 small-12 columns">
	      <%= r.label :vehicle, 'Select A Vehicle' %>
		  <%= r.collection_select :vehicle_id, Vehicle.all, :id, :to_s, {include_blank: 'Select One'} %>
	    </div>
	    <div class="large-6 small-12 columns">
	      <%= r.label :body_type, 'Or Select a Body Type' %>
		  <%= r.collection_select :body_type_id, BodyType.all, :id, :name, {include_blank: 'Select One'} %>
	    </div>
	    <%= r.fields_for(Subscriber.new) do |s| %>
	    <div class="large-12 columns">
	      <%= s.label :email %>
	      <%= s.text_field :email %>
	    </div>
	    <% end %>
	  </div>

	<%= r.submit 'Let\'s Go! »', class: 'expand round' %>
  <% end %>
</div>
-->