<h2 class="centered" small-text="Welcome to the <br/> Member's Area, <%= current_user.login %>">Welcome to the Member's Area, <%= current_user.login.capitalize %></h2>
<br>
<br>
<br>
<div class="row">
  <div class="large-4 columns">
    <a href="/vehicles" class="expand button">Manage Vehicles</a>
    <table class="full-width">
      <tr>
        <th>Vehicles</th>
        <td><%= Vehicle.unscoped.count %></td>
      </tr>
      <tr>
        <th>Active</th>
        <td><%= Vehicle.active.count %></td>
      </tr>
      <tr>
        <th>Featured</th>
        <td><%= Vehicle.where(featured:true).count %></td>
      </tr>
      <tr>
        <th>Avg Photo Count</th>
        <td><%= (Photo.unscoped.count.to_f / Vehicle.unscoped.count.to_f).round(2) %></td>
      </tr>
      <% turnaround = Vehicle.unscoped.average('extract(\'epoch\' from deleted_at) - extract(\'epoch\' from created_at)') %>
      <% if turnaround %>
      <tr>
        <th>Avg Turnaround</th>
        <td><%= time_ago_in_words(turnaround.seconds.from_now) %></td>
      </tr>
	  <% end %>
    </table>
  </div>
  <div class="large-4 columns">
    <a href="/features" class="expand button">Manage Features</a>
    <table class="full-width">
      <tr>
        <th>Features</th>
        <td><%= Feature.count %></td>
      </tr>
    </table>
  </div>
  <div class="large-4 columns">
    <a href="/pages" class="expand button">Manage Pages</a>
    <table class="full-width">
      <tr>
        <th>Pages</th>
        <td><%= Page.count %></td>
      </tr>
      <tr>
        <th>Public</th>
        <td><%= Page.public.count %></td>
      </tr>
    </table>
  </div>
  <div class="large-4 columns">
    <a href="/users" class="expand button">Manage Users</a>
    <table class="full-width">
      <tr>
        <th>Users</th>
        <td><%= User.count %></td>
      </tr>
      <tr>
        <th>Online</th>
        <td><%= User.online.count %></td>
      </tr>
    </table>
  </div>
  <div class="large-4 columns">
    <a href="/subscribers" class="expand button">Manage Subscribers</a>
    <table class="full-width">
      <tr>
        <th>Subscribers</th>
        <td><%= Subscriber.count %></td>
      </tr>
      <tr>
        <th>Confirmed Subscribers</th>
        <td><%= Subscriber.confirmed.count %></td>
      </tr>
    </table>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="large-4 small-centered columns"><a href="/logout" class="alert button expand">Log Out</a></div>
</div>