<%= render partial: 'vehicles/breadcrumbs' if current_user %>

<h2>Add Photos</h2>
<%= form_for(@photo, url: vehicle_photos_path(@vehicle)) do |f| %>
	<% if @photo.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@photo.errors.count, "error") %> prohibited this vehicle photo from being saved:</h2>

			<ul>
				<% @photo.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.file_field :image %>
	</div>
	<div class="actions">
		<%= f.submit 'Upload Photos' %>
	</div>
<% end %>

<br/><br/>
<% unless @photos.nil? %>
<h4>Existing Photos</h4>
<% if params[:deleted] == 'true' %>
<p>Viewing Deactivated Photos. <%= link_to 'Show Active.', vehicle_photos_path(@vehicle), class: 'italic' %></p>
<% else %>
<p>Viewing Active Photos. <%= link_to 'Show Deactivated.', '?deleted=true', class: 'italic' %></p>
<% end %>
<div class="existing-photos row">
	<% @photos.each do |photo| %>
	  <div class="photo large-3 columns <%= 'featured' if photo.featured? %>" data-id="<%= photo.id %>">
	    <%= link_to image_tag(photo.image.url(:thumb)), '#', data: {
			    'active' => photo.deleted_at == nil,
			    'reveal-id' => 'view-image-modal',
			    'big-url' => photo.image.url(),
	            'path' => vehicle_photo_path(vehicle_id: @vehicle.id, id: photo.id)
	    }, class: "#{'featured' if photo.featured? }" %>
      </div>
	<% end %>
</div>
<% end %>

<% content_for :modal, 'modals/view_image' %>