<%= link_to 'Edit', edit_subscriber_path(@subscriber), class:'button' %>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% cache ["v1", @subscriber] do %>
<h1><%= @subscriber %></h1>
<h2 <%= raw 'class="red"' unless @subscriber.subscribed? %>>
  <%= @subscriber.plan.titleize %>
</h2>

<table>
  <tr>
    <th>Joined</th>
    <td><%= @subscriber.created_at.to_formatted_s :short %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @subscriber.email %></td>
  </tr>
  <% if @subscriber.phone %>
  <tr>
    <th>Phone</th>
    <td><%= number_to_phone(@subscriber.phone) %></td>
  </tr>
  <tr>
    <th>Subscribed</th>
    <td><%= @subscriber.opt_in_date %></td>
  </tr>
  <tr>
    <th>Source</th>
    <td><%= @subscriber.source_text.titleize %></td>
  </tr>
  <% end %>
</table>

<% if @subscriber.inquiries.any? %>
<h2>Inquiries Made</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Vehicle</th>
  </tr>
  <% @subscriber.inquiries.each do |inquiry| %>
  <tr>
    <td><%= inquiry.created_at.to_formatted_s :short %></td>
    <td><%= link_to inquiry.vehicle, inquiry.vehicle %></td>
  </tr>
  <% end %>
</table>
<% end %>

<% if @subscriber.vehicles.any? %>
  <h2>Vehicles Interested In</h2>
  <table>
    <tr>
      <th>Vehicle</th>
      <th>Status</th>
    </tr>
    <% @subscriber.vehicles.each do |vehicle| %>
    <tr>
      <td><%= link_to vehicle.to_s, vehicle %></td>
      <td><%= vehicle.status_text %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<% end # end cache %>
