<ul class="breadcrumbs">
  <li><a href="/members">Member's Area</a></li>
  <li class="<%= 'current' if params[:action] == 'index' and params[:controller] == 'vehicles'%>"><a href="/vehicles">Vehicles</a></li>
  <% if @vehicle %>
	<% if @vehicle.new_record? %>
	    <li class="current"><a href="/vehicles/new">New</a></li>
	<% else %>
		<li class="<%= 'current' if params[:action] == 'show' %>"><a href="<%= vehicle_path(@vehicle) %>"><%= @vehicle.to_s %></a></li>

		<% if params[:action] != 'show' %>
			<li class="<%= 'current' if params[:action] == 'edit' and params[:controller] == 'vehicles' %>"><a href="<%= edit_vehicle_path(@vehicle) %>">edit</a></li>
		<% end %>

		<% if params[:action] == 'index' and params[:controller] == 'photos' %>
			<li class="current"><a href="<%= vehicle_photos_path(@vehicle) %>">photos</a></li>
		<% end %>

		<% if params[:action] == 'index' and params[:controller] == 'features' %>
			<li class="current"><a href="<%= vehicle_features_path(@vehicle) %>">features</a></li>
		<% end %>
	<% end %>
  <% end %>
</ul>