<% vehicle = Vehicle.random_featured.first %>

<% cache ["v4", vehicle, "featured"] do %>
  <div id="featured-content">
    <div class="large-12 columns featured-column">
      <div class="row">
        <div id="featured-car" class="car small-12 large-centered columns" data-stock-number="<%= vehicle.stock_number %>" data-name="<%= vehicle %>">
          <div class="row">
            <div class="picture large-3 columns" style="background-image: url(<%= featured_image_url(vehicle) %>)"></div>
            <div class="info large-9 columns">
              <h2 small-text="<%= vehicle %>"><%= vehicle %><%= show_if "  <span class='small-0 no-wrap'>&mdash; $1</span>", price(vehicle) %></h2>
              <%= show_if '<h4>$1</h4>', vehicle.subtitle %>
              <h4>Only <%= miles(vehicle) %> Miles!</h4>
              <div class="links">
                <a id="featured-details-link" data-href="<%= seo_vehicle_path(vehicle, name: vehicle.to_s('-')) %>" class="small more-info radius button" small-text="More Info">View Details »</a>
                <a id="featured-inventory-link" href="<%= inventory_vehicles_path %>" class="success small radius button">Full Inventory  &raquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
