<% vehicle = Vehicle.random_featured.first %>

<% cache ["v1", vehicle, "featured"] do %>
    <div id="featured-content">
      <div class="large-12 columns featured-column">
        <div class="row">
          <div class="car small-12 large-centered columns">
            <div class="row">
              <div class="picture large-3 columns" style="background-image: url(<%= vehicle.featured_url %>)"></div>
              <div class="info large-9 columns">
                <h2><%= vehicle %><%= show_if "  <span class='no-wrap'>&mdash; $1</span>", price(vehicle) %></h2>
                <%= show_if '<h4>$1</h4>', vehicle.subtitle %>
                <h4>Only <%= miles(vehicle) %> Miles!</h4>
                <a href="<%= seo_vehicle_path(vehicle, name: vehicle.to_s('-')) %>" class="small more-info radius button">Click Here For More Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>