<% vehicle = Vehicle.random_featured.first %>

<a href="<%= seo_vehicle_path(vehicle, name: vehicle.to_s('-')) %>">
<div id="featured-content">
	<div class="large-12 columns featured-column">
	  <div class="row">
	    <div class="car small-12 large-centered columns">
	      <div class="row">
	        <div class="picture large-3 columns" style="background-image: url(<%= vehicle.featured_url %>)"></div>
		    <div class="info large-9 columns">
		  	    <h2><%= vehicle %> &mdash; <%= vehicle.word_price %></h2>
		  	    <h4>Only <%= vehicle.word_miles %> Miles!</h4>
		        <h4>Damage: <%= vehicle.damage.name %></h4>
		  	    <a class="more-info button success" href="<%= seo_vehicle_path(vehicle, name: vehicle.to_s('-')) %>">Click Here For More Info</a>
		    </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</a>