<% if current_user %>
	<%= render 'vehicles/nav', page: :edit %>
<% end %>

<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="actions">
	<%= f.submit %>
</div>
<div class="row">
  <h3 class="large-12 small-12 columns">Vehicle Information</h3>
</div>
<div class="row">
  <div class="field large-4 small-4 columns">
    <%= f.label :year %>
    <%= f.select :year, (Time.now.year+2).downto(Time.now.year-50).to_a, selected: Time.now.year %>
  </div>
  <div class="field large-4 small-4 columns">
    <%= f.label :make %>
    <%= f.collection_select :make_id, Make.all, :id, :name, {include_blank: 'Create New Make'} %>
    <%= f.sub_text_field :make %>
  </div>
  <div class="field large-4 small-4 columns">
    <%= f.label :model %>
    <% models = @vehicle.make_id ? @vehicle.make.models : Model.all %>
    <%= f.collection_select :model_id, models, :id, :name, {include_blank: 'Create New Model', selected: @vehicle.model_id} %>
	<%= f.sub_text_field :model %>
  </div>
</div>
<div class="row">
  <div class="field large-4 columns">
      <%= f.label :status_id %>
      <%= f.collection_select :status_id, Status.all, :id, :name %>
    </div>
  <div class="field large-4 columns">
    <%= f.label :stock_number %>
    <%= f.text_field :stock_number %>
  </div>
  <div class="field large-4 columns">
    <%= f.label :vin %>
    <%= f.text_field :vin %>
  </div>
</div>
  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :ebay %>
    <%= f.text_field :ebay %>
  </div>
<div class="row">
  <div class="large-4 columns field">
    <%= f.label :warranty_id %>
    <%= f.collection_select :warranty_id, Warranty.all, :id, :name %>
  </div>
  <div class="large-4 columns field">
    <%= f.label :title_id %>
    <%= f.collection_select :title_id, Title.all, :id, :name %>
  </div>
  <div class="large-4 columns field">
    <%= f.label :engine_type %>
    <%= f.text_field :engine_type %>
  </div>
</div>
  <div class="field">
    <%= f.label :transmission_id %>
    <%= f.collection_select :transmission_id, Transmission.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :miles %>
    <%= f.number_field :miles %>
  </div>
  <div class="field">
    <%= f.label :ext_color_id %>
    <%= f.collection_select :ext_color_id, Color.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :int_color_id %>
    <%= f.collection_select :int_color_id, Color.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
<div class="row">
  <h3 class="large-12 small-12 columns">Condition</h3>
</div>
<div class="row">
  <div class="large-6 small-12 columns">
  <div class="field">
    <%= f.label :damage_id %>
    <%= f.collection_select :damage_id, Damage.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :paint_id %>
    <%= f.collection_select :paint_id, Condition.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :drivable_id %>
    <%= f.collection_select :drivable_id, Drivable.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :engine_id %>
    <%= f.collection_select :engine_id, Engine.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :suspension_id %>
    <%= f.collection_select :suspension_id, Suspension.all, :id, :name %>
  </div>
  </div>
  <div class="large-6 small-12 columns">
  <div class="field">
    <%= f.label :interior_id %>
    <%= f.collection_select :interior_id, Condition.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.check_box :stains %>
    <%= f.label :stains, 'Stains?' %>
  </div>
  <div class="field">
    <%= f.check_box :burns %>
    <%= f.label :burns, 'Burns?' %>
  </div>
  <div class="field">
    <%= f.check_box :tears %>
    <%= f.label :tears, 'Tears?' %>
  </div>
  </div>
</div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
  $makes = {
	<% @makes ||= Make.all %>
    <% @makes.each do |make| %>
	<%= "#{make.id}: [" %>
		<% make.models.each do |model| %>
	    <%= "[#{model.id}, '#{model.name}'],".html_safe %>
	    <% end %>
	<%= "]," %>
	<% end %>
  }
</script>