<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :make_id %><br />
    <%= f.number_field :make_id %>
  </div>
  <div class="field">
    <%= f.label :model_id %><br />
    <%= f.number_field :model_id %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :ebay %><br />
    <%= f.text_field :ebay %>
  </div>
  <div class="field">
    <%= f.label :stock_number %><br />
    <%= f.text_field :stock_number %>
  </div>
  <div class="field">
    <%= f.label :vin %><br />
    <%= f.text_field :vin %>
  </div>
  <div class="field">
    <%= f.label :warranty_id %><br />
    <%= f.number_field :warranty_id %>
  </div>
  <div class="field">
    <%= f.label :title_id %><br />
    <%= f.number_field :title_id %>
  </div>
  <div class="field">
    <%= f.label :engine %><br />
    <%= f.text_field :engine %>
  </div>
  <div class="field">
    <%= f.label :trans_id %><br />
    <%= f.number_field :trans_id %>
  </div>
  <div class="field">
    <%= f.label :miles %><br />
    <%= f.number_field :miles %>
  </div>
  <div class="field">
    <%= f.label :ext_color_id %><br />
    <%= f.number_field :ext_color_id %>
  </div>
  <div class="field">
    <%= f.label :int_color_id %><br />
    <%= f.number_field :int_color_id %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br />
    <%= f.number_field :status_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :damage_id %><br />
    <%= f.number_field :damage_id %>
  </div>
  <div class="field">
    <%= f.label :paint_id %><br />
    <%= f.number_field :paint_id %>
  </div>
  <div class="field">
    <%= f.label :interior_id %><br />
    <%= f.number_field :interior_id %>
  </div>
  <div class="field">
    <%= f.label :drivable_id %><br />
    <%= f.number_field :drivable_id %>
  </div>
  <div class="field">
    <%= f.label :engine_id %><br />
    <%= f.number_field :engine_id %>
  </div>
  <div class="field">
    <%= f.label :suspension_id %><br />
    <%= f.number_field :suspension_id %>
  </div>
  <div class="field">
    <%= f.label :stains %><br />
    <%= f.check_box :stains %>
  </div>
  <div class="field">
    <%= f.label :burns %><br />
    <%= f.check_box :burns %>
  </div>
  <div class="field">
    <%= f.label :tears %><br />
    <%= f.check_box :tears %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
