<% cache ["v1", "partial", vehicle] do %>
<div class="vehicle large-12 columns <%= vehicle.word_status %> <%= 'featured' if vehicle.featured? %>">
  <a href="<%= seo_vehicle_path(vehicle, name: vehicle.to_s('-'))%>" title="<%= vehicle %>">
  <div class="row">

    <% if vehicle.photos.any? %>
      <div class="image large-4 columns" style="background-image: url(<%= vehicle.featured_url unless vehicle.photos.empty? %>)">&nbsp;</div>
	<% end %>

    <div class="large-8 <%= 'large-centered small-12' unless vehicle.photos.any? %> columns">
      <div class="row">
        <div class="large-12 small-centered columns">
          <h2><%= vehicle %></h2>
          <table>
            <tr>
              <td>Status: <%= vehicle.status.to_s.capitalize %></td>
              <td><i class="foundicon-smiley new">New Vehicle!</i></td>
            </tr>
            <tr>
              <td><%= vehicle.word_miles %> miles</td>
              <td>Damage: <%= vehicle.damage.name %></td>
            </tr>
            <tr>
              <td>Stock #<%= vehicle.stock_number %></td>
              <td>Price: <%= vehicle.word_price %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  </a>
</div>
<% end %>