<h2><%= @vehicle %></h2>
<%= form_for(@photo, url: "/vehicles/#{@vehicle.id}/upload") do |f| %>
	<% if @photo.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@photo.errors.count, "error") %> prohibited this vehicle photo from being saved:</h2>

			<ul>
				<% @photo.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<h4>Add Pictures</h4>
	<div class="field">
		<%= f.file_field :image %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<p>&nbsp;</p>
<h4>Existing Pictures</h4>
<div class="existing-photos row">
	<% @vehicle.photos.each do |photo| %>
		<%= image_tag photo.image.url(), { class: 'large-3 columns' } %>
	<% end %>
</div>