<h1>Listing vehicles</h1>

<%= link_to 'New Vehicle', new_vehicle_path %>

<table>
  <tr>
    <th>Stock number</th>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Miles</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehicles.each do |vehicle| %>
  <tr>
    <td><%= vehicle.stock_number %></td>
    <td><%= vehicle.year %></td>
    <td><%= vehicle.make %></td>
    <td><%= vehicle.model %></td>
    <td><%= vehicle.miles %></td>
    <td><%= vehicle.status %></td>
    <td><%= link_to 'Show', vehicle %></td>
    <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
    <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

