<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @vehicle.year %>
</p>

<p>
  <b>Make:</b>
  <%= @vehicle.make_id %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model_id %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @vehicle.subtitle %>
</p>

<p>
  <b>Ebay:</b>
  <%= @vehicle.ebay %>
</p>

<p>
  <b>Stock number:</b>
  <%= @vehicle.stock_number %>
</p>

<p>
  <b>Vin:</b>
  <%= @vehicle.vin %>
</p>

<p>
  <b>Warranty:</b>
  <%= @vehicle.warranty_id %>
</p>

<p>
  <b>Title:</b>
  <%= @vehicle.title_id %>
</p>

<p>
  <b>Engine:</b>
  <%= @vehicle.engine %>
</p>

<p>
  <b>Trans:</b>
  <%= @vehicle.trans_id %>
</p>

<p>
  <b>Miles:</b>
  <%= @vehicle.miles %>
</p>

<p>
  <b>Ext color:</b>
  <%= @vehicle.ext_color_id %>
</p>

<p>
  <b>Int color:</b>
  <%= @vehicle.int_color_id %>
</p>

<p>
  <b>Status:</b>
  <%= @vehicle.status_id %>
</p>

<p>
  <b>Price:</b>
  <%= @vehicle.price %>
</p>

<p>
  <b>Damage:</b>
  <%= @vehicle.damage_id %>
</p>

<p>
  <b>Paint:</b>
  <%= @vehicle.paint_id %>
</p>

<p>
  <b>Interior:</b>
  <%= @vehicle.interior_id %>
</p>

<p>
  <b>Drivable:</b>
  <%= @vehicle.drivable_id %>
</p>

<p>
  <b>Engine:</b>
  <%= @vehicle.engine_id %>
</p>

<p>
  <b>Suspension:</b>
  <%= @vehicle.suspension_id %>
</p>

<p>
  <b>Stains:</b>
  <%= @vehicle.stains %>
</p>

<p>
  <b>Burns:</b>
  <%= @vehicle.burns %>
</p>

<p>
  <b>Tears:</b>
  <%= @vehicle.tears %>
</p>

<p>
  <b>Description:</b>
  <%= @vehicle.description %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
