<% content_for :canonical, seo_vehicle_path(id: @vehicle.id, name: @vehicle.to_s('-')) %>
<% content_for :modal, 'modals/vehicle_gallery' %>

<% if notice %>
<p id="notice" class="alert-box"><%= notice %></p>
<% end %>

<% if current_user %>
	<%= link_to '&laquo; View All Vehicles'.html_safe, vehicles_path, class: 'secondary button' %>
	<%= link_to 'Edit Vehicle', edit_vehicle_path(@vehicle), class: 'secondary button' %>
	<%= link_to 'Edit Photos', vehicle_photos_path(@vehicle), class: 'secondary button' %>
<% end %>


<div class="row photo-box">
  <div class="large-7 small-12 columns photo" data-src="<%= @vehicle.featured.url(:original) %>" data-reveal-id="gallery-modal">
  </div>
  <div class="large-5 small-12 columns photos">
    <% @vehicle.photos.order(:vehicles_photo_id).limit(16).each do |photo| %>
		<%= image_tag photo.image.url(:thumb), {alt: @vehicle.to_s, data: { src: photo.image.url(:original), 'reveal-id' => 'gallery-modal', id: photo.id}} %>
    <% end %>
  </div>
</div>

<header>
  <h1><%= @vehicle.to_s %></h1>
  <h2 class="subtitle"><%= number_to_currency(@vehicle.price, {precision:0}) %> &mdash; <%= @vehicle.subtitle %></h2>
</header>


<p class="description">
  <%= @vehicle.description %>
</p>

<p>
  <b>Ebay:</b>
  <%= @vehicle.ebay %>
</p>

<p>
  <b>Stock number:</b>
  <%= @vehicle.stock_number %>
</p>

<p>
  <b>Vin:</b>
  <%= @vehicle.vin %>
</p>

<p>
  <b>Warranty:</b>
  <%= @vehicle.warranty %>
</p>

<p>
  <b>Title:</b>
  <%= @vehicle.title %>
</p>

<p>
  <b>Engine:</b>
  <%= @vehicle.engine_type %>
</p>

<p>
  <b>Trans:</b>
  <%= @vehicle.transmission %>
</p>

<p>
  <b>Miles:</b>
  <%= @vehicle.miles %>
</p>

<p>
  <b>Ext color:</b>
  <%= @vehicle.ext_color %>
</p>

<p>
  <b>Int color:</b>
  <%= @vehicle.int_color %>
</p>

<p>
  <b>Status:</b>
  <%= @vehicle.status.name %>
</p>

<p>
  <b>Price:</b>
  <%= @vehicle.price %>
</p>

<p>
  <b>Damage:</b>
  <%= @vehicle.damage.name %>
</p>

<p>
  <b>Paint:</b>
  <%= @vehicle.paint.name %>
</p>

<p>
  <b>Interior:</b>
  <%= @vehicle.interior %>
</p>

<p>
  <b>Drivable:</b>
  <%= @vehicle.drivable %>
</p>

<p>
  <b>Engine:</b>
  <%= @vehicle.engine %>
</p>

<p>
  <b>Suspension:</b>
  <%= @vehicle.suspension %>
</p>

<p>
  <b>Stains:</b>
  <%= @vehicle.stains %>
</p>

<p>
  <b>Burns:</b>
  <%= @vehicle.burns %>
</p>

<p>
  <b>Tears:</b>
  <%= @vehicle.tears %>
</p>


<p class="small">Vehicle last updated <%= time_ago_in_words(@vehicle.updated_at) %> ago.</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
