<% content_for :canonical, seo_vehicle_path(id: @vehicle.id, name: @vehicle.to_s('-')) %>
<% content_for :title, @vehicle.to_s + ' at Motor Car Export' %>

<% if notice %>
<p id="notice" class="alert-box"><%= notice %></p>
<% end %>

<% cache [@vehicle, !!current_user] do %>
	<% if current_user %>
		<%= link_to 'Edit Vehicle', edit_vehicle_path(@vehicle), class: 'primary button' %>
	<% end %>
<% end %>

<% cache ["v1",@vehicle] do %>

<% unless @vehicle.photos.empty? %>
<div class="row photo-box">
  <div class="large-8 columns photo" data-src="<%= @vehicle.featured_url %>" data-reveal-id="gallery-modal">
  </div>
  <div class="large-4 columns photos">
    <% i = 0 %>
    <% @vehicle.photos.order(:vehicles_photo_id).find_each do |photo| %>
	    <% i += 1 %>
		<%= image_tag photo.image.url(:thumb), {alt: @vehicle.to_s, data: { src: photo.image.url(:original), 'reveal-id' => 'gallery-modal', id: photo.id, slide_id: i }} %>
    <% end %>
  </div>
</div>
<% end %>

<header>
  <h1><%= @vehicle.to_s %></h1>
  <h2 class="subtitle"><%= @vehicle.word_price %><%=' — ' + @vehicle.subtitle unless @vehicle.subtitle.blank? %><%= '<br>Inactive — Not Publicly Visible'.html_safe if @vehicle.deleted_at %></h2>
</header>


<div class="description">
  <%= raw RDiscount.new(@vehicle.description).to_html %>
</div>


<div class="row info">
  <div class="general large-6 columns block">
    <h4 class="centered">Information</h4>
	<table class="heading-right full-width">
	  <tr>
	    <th>Year</th>
	    <td><%= @vehicle.year %></td>
	  </tr>
	  <tr>
	    <th>Make</th>
	    <td><%= @vehicle.make.name %></td>
	  </tr>
	  <tr>
	    <th>Model</th>
	    <td><%= @vehicle.model.name %></td>
	  </tr>
	  <tr>
	    <th>Stock Number</th>
	    <td>#<%= @vehicle.stock_number %></td>
	  </tr>
	  <tr>
	    <th>Vehicle ID Number</th>
	    <td>#<%= @vehicle.vin %></td>
	  </tr>
	  <tr>
	    <th>Miles</th>
	    <td><%= @vehicle.miles %></td>
	  </tr>
	  <tr>
	    <th>Title</th>
	    <td><%= @vehicle.title.name %></td>
	  </tr>
	  <tr>
	    <th>Warranty</th>
	    <td><%= @vehicle.warranty.name %></td>
	  </tr>
	  <tr>
	    <th>Transmission</th>
	    <td><%= @vehicle.transmission.name %></td>
	  </tr>
	  <tr>
	    <th>Engine</th>
	    <td><%= @vehicle.engine_type %></td>
	  </tr>
	  <tr>
	    <th>Interior Color</th>
	    <td><%= @vehicle.int_color.name %></td>
	  </tr>
	  <tr>
	    <th>Exterior Color</th>
	    <td><%= @vehicle.ext_color.name %></td>
	  </tr>
	</table>
  </div>
  <div class="condition large-6 columns block">
	<h4 class="centered">Condition</h4>
    <table class="heading-right full-width">
      <tr>
        <th>Status</th>
        <td><%= @vehicle.status.name %></td>
      </tr>
      <tr>
        <th>Drivability</th>
        <td><%= @vehicle.drivable.name %></td>
      </tr>
      <tr>
        <th>Engine</th>
        <td><%= @vehicle.engine.name %></td>
      </tr>
      <tr>
        <th>Suspension</th>
        <td><%= @vehicle.suspension.name %></td>
      </tr>
      <tr>
        <th>Paint</th>
        <td><%= @vehicle.paint.name %></td>
      </tr>
      <tr>
        <th>Interior</th>
        <td><%= @vehicle.interior.name %></td>
      </tr>
      <tr>
        <th>Stains</th>
        <td><%= @vehicle.stains? ? 'Yes': 'No' %></td>
      </tr>
      <tr>
        <th>Tears</th>
        <td><%= @vehicle.tears? ? 'Yes': 'No' %></td>
      </tr>
      <tr>
        <th>Burns</th>
        <td><%= @vehicle.burns? ? 'Yes': 'No' %></td>
      </tr>
    </table>
  </div>
  <% if @vehicle.features.any? %>
  <div class="features large-12 columns block">
	<h4 class="centered">Features</h4>
    <div class="list row">
      <% @vehicle.features.find_each do |feature| %>
	      <div class="large-4 small-6 columns feature">
	        <%= feature.name %>
	      </div>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @vehicle.title.about %>
  <div class="title large-12 columns block">
    <h4 class="centered">About The Title</h4>
    <p>
      <%= @vehicle.title.about %>
    </p>
  </div>
  <% end %>

  <div class="warranty large-12 columns block">
	<h4 class="centered">Disclosure Agreement</h4>
	<p>
	  <%= @vehicle.warranty.about(@vehicle) %>
	</p>
  </div>
</div>

<p class="small">Vehicle last updated <%= time_ago_in_words(@vehicle.updated_at) %> ago.</p>

<%= render partial: 'modals/vehicle_gallery' %>

<% end %>