<html>
<head></head>
<body class="ebay vehicle">
<link rel="stylesheet" href="<%= request.protocol + request.host %><%= asset_path('vehicles/ebay.css') %>">
<div class="container">
	<div class="logo">
		<img src="http://motor-car-export.s3.amazonaws.com/logo.png" alt="Motor Car Export" />
		<h1>Motor Car Export</h1>
	</div>
	<div class="featured">
		<h1 class="name"><%= @vehicle %></h1>
		<img src="<%= @vehicle.featured_url %>"/>
		<h1 class="subtitle"><%= @vehicle.subtitle %></h1>
	</div>
	<div class="title-box">
		<h3 class="title">Vehicle Information</h3>
		<table>
			<tr>
				<th>Year</th>
				<td><%= @vehicle.year %></td>
				<th>Title</th>
				<td><%= @vehicle.title.name %></td>
			</tr>
			<tr>
				<th>Make</th>
				<td><%= @vehicle.make.name %></td>
				<th>Warranty</th>
				<td><%= @vehicle.warranty.name %></td>
			</tr>
			<tr>
				<th>Model</th>
				<td><%= @vehicle.model.name %></td>
				<th>Engine</th>
				<td><%= @vehicle.engine_type %></td>
			</tr>
			<tr>
				<th>Exterior Color</th>
				<td><%= @vehicle.ext_color.name %></td>
				<th>Stock #</th>
				<td><%= @vehicle.stock_number %></td>
			</tr>
		</table>
	</div>
	<div class="title-box">
		<h3 class="title">Vehicle Condition</h3>
		<table>
			<tr>
				<th>Exterior Paint</th>
				<td><%= @vehicle.exterior.name %></td>
				<th>Interior</th>
				<td><%= @vehicle.interior.name %></td>
			</tr>
			<tr>
				<th>Engine</th>
				<td><%= @vehicle.engine.name %></td>
				<th>Suspension</th>
				<td><%= @vehicle.suspension.name %></td>
			</tr>
			<tr>
				<th>Drivability</th>
				<td><%= @vehicle.drivable.name %></td>
			</tr>
		</table>
	</div>

	<div class="title-box">
		<h3 class="title">Vehicle Description</h3>
		<%= raw RDiscount.new(@vehicle.description).to_html %>
	</div>

	<%= warranty_disclosure %>

	<%= title_disclosure %>

	<%= drivable_disclosure %>

	<%= vehicle_type_disclosure %>

	<div class="title-box">
		<h3 class="title">Photos</h3>
		<% @vehicle.photos.find_each do |photo| %>
			<%= image_tag photo.image.url %>
		<% end %>
	</div>
</div>
</body>
</html>
