<% if notice %>
<p id="notice" class="alert-box"><%= notice %></p>
<% end %>

<p>
  <b>Year:</b>
  <%= @vehicle.year %>
</p>

<p>
  <b>Make:</b>
  <%= @vehicle.make.name %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model.name %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @vehicle.subtitle %>
</p>

<p>
  <b>Ebay:</b>
  <%= @vehicle.ebay %>
</p>

<p>
  <b>Stock number:</b>
  <%= @vehicle.stock_number %>
</p>

<p>
  <b>Vin:</b>
  <%= @vehicle.vin %>
</p>

<p>
  <b>Warranty:</b>
  <%= @vehicle.warranty %>
</p>

<p>
  <b>Title:</b>
  <%= @vehicle.title %>
</p>

<p>
  <b>Engine:</b>
  <%= @vehicle.engine_type %>
</p>

<p>
  <b>Trans:</b>
  <%= @vehicle.transmission %>
</p>

<p>
  <b>Miles:</b>
  <%= @vehicle.miles %>
</p>

<p>
  <b>Ext color:</b>
  <%= @vehicle.ext_color %>
</p>

<p>
  <b>Int color:</b>
  <%= @vehicle.int_color %>
</p>

<p>
  <b>Status:</b>
  <%= @vehicle.status.name %>
</p>

<p>
  <b>Price:</b>
  <%= @vehicle.price %>
</p>

<p>
  <b>Damage:</b>
  <%= @vehicle.damage.name %>
</p>

<p>
  <b>Paint:</b>
  <%= @vehicle.paint.name %>
</p>

<p>
  <b>Interior:</b>
  <%= @vehicle.interior %>
</p>

<p>
  <b>Drivable:</b>
  <%= @vehicle.drivable %>
</p>

<p>
  <b>Engine:</b>
  <%= @vehicle.engine %>
</p>

<p>
  <b>Suspension:</b>
  <%= @vehicle.suspension %>
</p>

<p>
  <b>Stains:</b>
  <%= @vehicle.stains %>
</p>

<p>
  <b>Burns:</b>
  <%= @vehicle.burns %>
</p>

<p>
  <b>Tears:</b>
  <%= @vehicle.tears %>
</p>

<p>
  <b>Description:</b>
  <%= @vehicle.description %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
