<%= render partial: 'vehicles/breadcrumbs' if current_user %>

<h1>Listing features</h1>


  <% if @vehicle %>
	  <%= render 'features/vehicle_form' %>
  <% else %>
      <%= render 'features/form' %>
  <% end %>

<div class="row">
  <div class="large-6 columns vehicle">
    <h3 class="centered">Available</h3>
    <div class="list row">
		<% @vehicle_features.each do |feature| %>
            <%= render partial: 'features/vehicles_feature', locals: {feature: feature, addable: false}%>
        <% end %>
    </div>
  </div>
  <div class="large-6 columns system">
    <h3 class="centered">Added</h3>
    <div class="list row">
        <% @features.each do |feature| %>
			<%= render partial: 'features/vehicles_feature', locals: {feature: feature,addable: true} unless feature.in? @vehicle_features %>
	    <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $features = [
    <% @features.each do |f| %>
		<%= "'#{f.name}',".html_safe %>
	<% end %>
  ];
</script>

