<h1>Listing features</h1>


  <% if @vehicle %>
	  <%= render 'features/vehicle_form' %>
  <% else %>
      <%= render 'features/form' %>
  <% end %>

<div class="row">
  <div class="large-6 columns system">
    <h3 class="centered">Available</h3>
    <div class="list row">
      <% @features.each do |feature| %>
          <%= render partial: 'features/vehicles_feature', locals: {feature: feature,addable: true} unless feature.in? @vehicle_features %>
      <% end %>
    </div>
  </div>
  <div class="large-6 columns vehicle">
    <h3 class="centered">This Vehicle</h3>
    <div class="list row">
      <% @vehicle_features.each do |feature| %>
          <%= render partial: 'features/vehicles_feature', locals: {feature: feature, addable: false}%>
      <% end %>
    </div>
  </div>
</div>

<% cache ['v1',@all_features] do %>
<script type="text/javascript">
  $max_val = <%= @all_features.max{|a,b| a.id <=> b.id }.id %>;
  $features = [
    <% @all_features.each do |f| %>
		<% string = f.name.gsub(/("|')/){"\\#{$1}"} %>
		<%= "'#{string}',".html_safe %>
	<% end %>
  ];
</script>
<% end %>
