<div class="large-3 small-12 columns">
	    <div class="side-nav">
	      <div class="row">
	          <%= link_to image_tag('logo.png'), '/', class: 'large-12 small-4 small-centered large-uncentered columns' %>
	      </div>

	      <nav class="row">
	          <ul class="large-12 columns">
	            <li class=""><%= link_to 'About', '/about' %></li>
	            <li class=""><%= link_to 'Buyer Information', '/buyer-info' , {'small-text' => 'Buyer Info'}%></li>
	            <li class=""><%= link_to 'Frequently Asked Questions', '/faq', {'small-text' => 'FAQ'} %></li>
	            <li class=""><%= link_to 'Contact', '/contact' %></li>
	            <li class=""><%= link_to '<h4>Inventory</h4>'.html_safe, inventory_vehicles_path %></li>
	            <% if current_user %>
	                <li class=""><%= link_to 'Logged In As ' + current_user.login, '/vehicles'%></li>
		        <% end %>
	          </ul>
	      </nav>

	      <footer id="nav-footer">&copy; <%= Time.new.year %> Motor Car Export</footer>
	    </div>
	  </div>