<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= content_for?(:title) ? yield(:title) : 'Motor Car Export' %></title>
	<%= stylesheet_link_tag    "application", media: 'all' %>
	<%= javascript_include_tag "custom.modernizr.dev" if Rails.env == 'development' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="top-bar">
	  <span class="right">
	    Sales: (586) 854 - 8781 <br/>
	    Office: (248) 446 - 8281
	  </span>
	</div>
	<div id="container" class="row">
	  <div class="side-nav large-3 small-12 columns">
	    <div class="row">
	        <%= link_to image_tag('logo.png'), '/', class: 'large-12 small-4 small-centered large-uncentered columns' %>
	        <h1 class="twelve columns"><%= link_to 'Motor Car Export', '/' %></h1>
	    </div>

	    <nav>
	        <ul class="row">
	          <li class="large-12 small-4 columns"><%= link_to 'About', '/about' %></li>
	          <li class="large-12 small-4 columns"><%= link_to 'Buyer Information', '/buyer-info' , {'small-text' => 'Buyer Info'}%></li>
	          <li class="large-12 small-4 columns"><%= link_to 'Frequently Asked Questions', '/faq', {'small-text' => 'FAQ'} %></li>
	        </ul>

	        <ul class="row">
	          <li class="large-12 small-0 columns"><h4>Inventory</h4></li>
	          <li class="large-12 small-4 columns"><%= link_to 'New Arrivals', '/new' %></li>
	          <li class="large-12 small-4 columns"><%= link_to 'Repairables', '/repairable' %></li>
	          <li class="large-12 small-4 columns"><%= link_to 'Ready To Go', '/ready', {'small-text' => 'Ready'} %></li>
	        </ul>
	    </nav>

	    <footer id="nav-footer">&copy; <%= Time.new.year %> Motor Car Export</footer>
	  </div>
	  <article id="content" class="large-9 small-12 columns">
	    <%= yield %>
	    <div class="row">
	      <footer id="container-footer" class="twelve columns">&copy; <%= Time.new.year %> Motor Car Export</footer>
	    </div>
	  </article>

	</div>
	<%= javascript_include_tag "application" %>
</body>
</html>
